Repository hmcts/civil-orchestrator-service, pull requests merged in 2023-08, with the labels that each got.

#51 pointing to new branch and new tests
  build.gradle
Labels: ns:civil, prd:civil, enableHelm, rel:civil-orchestrator-service-pr-51

#54 CIV-9253 create claim request
  build.gradle
  charts/civil-orchestrator-service/values.preview.template.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/CreateClaimSdtControllerTest.java
  src/main/java/uk/gov/hmcts/reform/civil/Application.java
  src/main/java/uk/gov/hmcts/reform/civil/config/CreateClaimConfiguration.java
  src/main/java/uk/gov/hmcts/reform/civil/config/RestTemplateConfig.java
  src/main/java/uk/gov/hmcts/reform/civil/config/ServiceTokenGeneratorConfiguration.java
  src/main/java/uk/gov/hmcts/reform/civil/controllers/CreateClaimSdtController.java
  src/main/java/uk/gov/hmcts/reform/civil/mappings/CreateClaimMapperInterface.java
  src/main/java/uk/gov/hmcts/reform/civil/mappings/CreateClaimMappingUtils.java
  src/main/java/uk/gov/hmcts/reform/civil/model/casedata/Address.java
  src/main/java/uk/gov/hmcts/reform/civil/model/casedata/CorrectEmail.java
  src/main/java/uk/gov/hmcts/reform/civil/model/casedata/IdamUserDetails.java
  src/main/java/uk/gov/hmcts/reform/civil/model/casedata/Organisation.java
  src/main/java/uk/gov/hmcts/reform/civil/model/casedata/OrganisationPolicy.java
  src/main/java/uk/gov/hmcts/reform/civil/model/casedata/Party.java
  src/main/java/uk/gov/hmcts/reform/civil/model/casedata/SolicitorReferences.java
  src/main/java/uk/gov/hmcts/reform/civil/model/casedata/StatementOfTruth.java
  src/main/java/uk/gov/hmcts/reform/civil/model/casedata/YesOrNo.java
  src/main/java/uk/gov/hmcts/reform/civil/model/prd/client/OrganisationApi.java
  src/main/java/uk/gov/hmcts/reform/civil/model/prd/model/ContactInformation.java
  src/main/java/uk/gov/hmcts/reform/civil/model/prd/model/DxAddress.java
  src/main/java/uk/gov/hmcts/reform/civil/model/prd/model/Organisation.java
  src/main/java/uk/gov/hmcts/reform/civil/model/prd/model/SuperUser.java
  src/main/java/uk/gov/hmcts/reform/civil/requestbody/CreateClaimCCD.java
  src/main/java/uk/gov/hmcts/reform/civil/requestbody/CreateClaimRequest.java
  src/main/java/uk/gov/hmcts/reform/civil/responsebody/CreateClaimErrorResponse.java
  src/main/java/uk/gov/hmcts/reform/civil/responsebody/CreateClaimResponse.java
  src/main/java/uk/gov/hmcts/reform/civil/responsebody/CreateClaimResponseBody.java
  src/main/java/uk/gov/hmcts/reform/civil/responsebody/CreateClaimSyncResponse.java
  src/main/java/uk/gov/hmcts/reform/civil/service/CreateClaimFromSdtService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/OrganisationService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/SubmitCreateClaim.java
  src/main/java/uk/gov/hmcts/reform/civil/service/SubmitCreateClaimService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/UserService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/mappings/CreateClaimMapperInterfaceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/requestbody/CreateClaimRequestTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/CreateClaimFromSdtServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/OrganisationServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/SubmitCreateClaimServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/UserServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-orchestrator-service-pr-54

#67 CIV-9252 Duplicate case check call (External Civil APIs / CCD)
  charts/civil-orchestrator-service/Chart.yaml
  charts/civil-orchestrator-service/values.aat.template.yaml
  charts/civil-orchestrator-service/values.preview.template.yaml
  charts/civil-orchestrator-service/values.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/CreateClaimSdtControllerTest.java
  src/main/java/uk/gov/hmcts/reform/civil/config/CreateClaimConfiguration.java
  src/main/java/uk/gov/hmcts/reform/civil/controllers/CreateClaimSdtController.java
  src/main/java/uk/gov/hmcts/reform/civil/exceptions/ErrorDetails.java
  src/main/java/uk/gov/hmcts/reform/civil/model/prd/CivilServiceApi.java
  src/main/java/uk/gov/hmcts/reform/civil/responsebody/CreateClaimResponseBody.java
  src/main/java/uk/gov/hmcts/reform/civil/service/CreateClaimFromSdtService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/SubmitCreateClaimService.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/service/CreateClaimFromSdtServiceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/SubmitCreateClaimServiceTest.java
Labels: ns:civil, prd:civil, rel:civil-orchestrator-service-pr-67

#68 CIV-9256 sync response v2
  src/main/java/uk/gov/hmcts/reform/civil/controllers/CreateClaimSdtController.java
  src/main/java/uk/gov/hmcts/reform/civil/mappings/CreateClaimMapperInterface.java
  src/main/java/uk/gov/hmcts/reform/civil/mappings/CreateClaimMappingUtils.java
  src/main/java/uk/gov/hmcts/reform/civil/requestbody/CreateClaimCCD.java
  src/main/java/uk/gov/hmcts/reform/civil/requestbody/CreateClaimRequest.java
  src/main/java/uk/gov/hmcts/reform/civil/service/CreateClaimFromSdtService.java
  src/test/java/uk/gov/hmcts/reform/civil/mappings/CreateClaimMapperInterfaceTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/CreateClaimFromSdtServiceTest.java
Labels: ns:civil, prd:civil, enableHelm, rel:civil-orchestrator-service-pr-68
