Repository hmcts/civil-orchestrator-service, pull requests merged in 2023-07, with the labels that each got.

#24 CIV-0000 keyvault changes
  infrastructure/.terraform-version
  infrastructure/key-vault-secrets.tf
  infrastructure/key-vault.tf
  infrastructure/main.tf
  infrastructure/state.tf
  infrastructure/tf-kv-secrets-s2s.tf
  infrastructure/variables.tf
Labels: ns:civil, prd:civil, add-or-update, rel:civil-orchestrator-service-pr-24

#28 Update main.tf
  infrastructure/main.tf
Labels: ns:civil, prd:civil, no-changes, rel:civil-orchestrator-service-pr-28

#33 CIV-9249 exception handler
  Jenkinsfile_CNP
  bin/add-roles.sh
  charts/civil-orchestrator-service/Chart.yaml
  src/main/java/uk/gov/hmcts/reform/civil/exceptions/ApiError.java
  src/main/java/uk/gov/hmcts/reform/civil/exceptions/ApplicationException.java
  src/main/java/uk/gov/hmcts/reform/civil/exceptions/ErrorDetails.java
  src/main/java/uk/gov/hmcts/reform/civil/exceptions/RestExceptionHandler.java
Labels: ns:civil, prd:civil, rel:civil-orchestrator-service-pr-33

#36 Renovateprs
  Jenkinsfile_CNP
  bin/add-roles.sh
  build.gradle
  charts/civil-orchestrator-service/Chart.yaml
Labels: ns:civil, prd:civil, rel:civil-orchestrator-service-pr-36

#45 Renovateprs
  .github/renovate.json
  bin/add-roles.sh
  build.gradle
  charts/civil-orchestrator-service/Chart.yaml
Labels: ns:civil, prd:civil, rel:civil-orchestrator-service-pr-45

#31 CIV-9249 Create Claim Request call (SDT / Civil APIs)
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/CreateClaimSdtControllerTest.java
  src/main/java/uk/gov/hmcts/reform/civil/config/OpenAPIConfiguration.java
  src/main/java/uk/gov/hmcts/reform/civil/controllers/CreateClaimSdtController.java
  src/main/java/uk/gov/hmcts/reform/civil/customvalidator/FieldMatchValidator.java
  src/main/java/uk/gov/hmcts/reform/civil/customvalidator/ValidateFields.java
  src/main/java/uk/gov/hmcts/reform/civil/exceptions/ApiError.java
  src/main/java/uk/gov/hmcts/reform/civil/exceptions/ApplicationException.java
  src/main/java/uk/gov/hmcts/reform/civil/exceptions/ErrorDetails.java
  src/main/java/uk/gov/hmcts/reform/civil/exceptions/RestExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/civil/mappings/CreateClaimMapper.java
  src/main/java/uk/gov/hmcts/reform/civil/mappings/CreateClaimMapperInterface.java
  src/main/java/uk/gov/hmcts/reform/civil/modelsdt/AddressType.java
  src/main/java/uk/gov/hmcts/reform/civil/modelsdt/ClaimantType.java
  src/main/java/uk/gov/hmcts/reform/civil/modelsdt/CreateClaimSDT.java
  src/main/java/uk/gov/hmcts/reform/civil/modelsdt/DefendantType.java
  src/main/java/uk/gov/hmcts/reform/civil/modelsdt/Interest.java
  src/main/java/uk/gov/hmcts/reform/civil/requestbody/AddressType.java
  src/main/java/uk/gov/hmcts/reform/civil/requestbody/ClaimantType.java
  src/main/java/uk/gov/hmcts/reform/civil/requestbody/CreateClaimCCD.java
  src/main/java/uk/gov/hmcts/reform/civil/requestbody/CreateClaimRequest.java
  src/main/java/uk/gov/hmcts/reform/civil/requestbody/DefendantType.java
  src/main/java/uk/gov/hmcts/reform/civil/requestbody/Interest.java
  src/main/java/uk/gov/hmcts/reform/civil/responsebody/CreateClaimErrorResponse.java
  src/main/java/uk/gov/hmcts/reform/civil/responsebody/CreateClaimSyncResponse.java
  src/main/java/uk/gov/hmcts/reform/civil/responsebody/MockOrg.java
  src/main/java/uk/gov/hmcts/reform/civil/responsebody/MockOrgPolicy.java
  src/main/java/uk/gov/hmcts/reform/civil/service/CreateClaimFromSdtService.java
  src/main/java/uk/gov/hmcts/reform/civil/service/SubmitCreateClaim.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/civil/requestbody/AddressTypeTest.java
  src/test/java/uk/gov/hmcts/reform/civil/requestbody/ClaimantTypeTest.java
  src/test/java/uk/gov/hmcts/reform/civil/requestbody/CreateClaimRequestTest.java
  src/test/java/uk/gov/hmcts/reform/civil/requestbody/DefendantTypeTest.java
  src/test/java/uk/gov/hmcts/reform/civil/requestbody/InterestTest.java
  src/test/java/uk/gov/hmcts/reform/civil/service/CreateClaimFromSdtServiceTest.java
Labels: ns:civil, prd:civil, no-changes, rel:civil-orchestrator-service-pr-31

#50 CIV-9429 Modified response code as its 201 for post request
  src/integrationTest/java/uk/gov/hmcts/reform/civil/controllers/CreateClaimSdtControllerTest.java
  src/main/java/uk/gov/hmcts/reform/civil/controllers/CreateClaimSdtController.java
  src/main/java/uk/gov/hmcts/reform/civil/service/SubmitCreateClaim.java
Labels: ns:civil, prd:civil, rel:civil-orchestrator-service-pr-50
